.home-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-xsmall);
  display: flex;
  align-items: flex-start;
}
.home-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-text11 {
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-unit);
}
.home-container15 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-select1 {
  width: var(--dl-size-size-medium);
}
.home-textinput1 {
  width: var(--dl-size-size-medium);
}
.home-text14 {
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.home-container16 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-textinput2 {
  width: var(--dl-size-size-medium);
}
.home-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-xsmall);
  display: flex;
  align-items: flex-start;
}
.home-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.home-text15 {
  padding-left: var(--dl-space-space-threeunits);
}
.home-container19 {
  left: 50%;
  width: 100%;
  height: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.home-text16 {
  align-self: center;
}
.home-textinput3 {
  height: 90%;
}
.home-container20 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container21 {
  flex: 0 0 auto;
  width: 50%;
  height: 229px;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.home-container23 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.home-container24 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.home-container25 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.home-image {
  width: 50%;
  align-self: flex-start;
  object-fit: cover;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
}
