APScheduler==3.10.4
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
colorhash==2.0.0
configparser==7.1.0
exceptiongroup==1.2.2
flask==3.0.3
Flask-Cors==5.0.0
Flask-MonitoringDashboard==3.3.2
flask-sqlalchemy==3.1.1
greenlet==3.1.1
gunicorn==23.0.0
html2flask==1.0.0
idna==3.10
importlib-metadata==8.5.0
iniconfig==2.0.0
itsdangerous==2.2.0
jinja2==3.1.4
MarkupSafe==2.1.5
numpy==1.26.4
packaging==24.1
pluggy==1.5.0
psutil==6.0.0
pyoxr==1.6
pytest==8.3.3
pytest-mock==3.14.0
python-dotenv==1.0.1
pytz==2024.2
quickchart-io==2.0.0
requests==2.31.0
requests-mock==1.12.1
scipy==1.10.1
six==1.16.0
SQLAlchemy==2.0.35
tomli==2.0.2
typing-extensions==4.12.2
tzlocal==2.0.0
urllib3==2.2.3
werkzeug==3.0.4
zipp==3.20.2
